/* command Style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-one {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}


/* header Style */
header {
    
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;
    border: 2px solid transparent;
    

}


.menu-item li a:hover{

    border: 1px solid firebrick;
    background-color: #F948B2;
    border-radius: 8px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    color: #fff;

}

.logo {
    display: flex;
    align-items: center;
}
.logo-img{
    margin-right: 20px;
}
.logo-title {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 700;
}

span {
    color: #FF42A5;
}

.amer-zone {
    color: #0B0223;
}

div ul {
    list-style: none;
    
}
.menu-item {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    
}
ul >li >a {
    text-decoration: none;
    padding-left: 32px;
}
.icon-link{
    display: flex;
    padding:18px 24px;
    margin-left: 32px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube{
    padding:0px 24px;
}
.icon-link >li>a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

/* main section style  */
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;

}

.play p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #534C64;;
}

.play-title {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-titel-two {
    font-size: 2.6rem;
    font-weight: 600;
}

.btn-two {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    border: 0;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

/* main content-two style */
.main-content-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}
.title-main-content-two {
    font-size: 2.6rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.short-description{
    color: #534C64;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.our-purpse{
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 45px;
}
.unleash {
    color: #534C64;
    font-size: 1.77rem;
    font-weight: 700;
    line-height: 45px;
}
/* game section style */
.gaming-section{
    margin: 0px 240px;
}
.game-continar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.img-continar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1440px;
    
}
.online-g{

    color: #0B0223;
    font-size: 2.6rem;
    font-weight: 700;
}
.funny-v {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: normal;
}
img {
    margin-left: 24px;
}


.game-description {
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px; 
}

/* instant game style */

.instant-game {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:120px;
}
.text-site {
    text-align: right;
    align-items: center;
    padding-top: 150px;
    padding-right: 120px;
    
}

.img-site-game { 
    display: flex;
}


.middle-img{
    position: relative;
    top:350px;
    right: 800px;
}

.text-site-title{

    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-site-description {
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}


/* game name continar */

.game-name-continar{
    margin-top: 240px;
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
}
.flex-img{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background:transparent;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
    justify-content: space-around;
    border: 2px solid transparent;
    padding: 10px;
}

.hover-over:hover {
    border: 2px solid #FF42A5;
    
    
}


.flex-img> p{
    color: #0B0223;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 10px;
}

.half {
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-right: 100px;
}

/* footer style */

.footer-section {   
    height: 640px;   
    background: #0b0223;  
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
} 
.logo a { 
      color: white; 
      text-decoration: none;
      padding-left: 10px;
} 
.title-color{
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.amer{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}

.about-us {  
    display: flex;  
    gap: 50px; 
    padding: 10px; 
    margin: 50px;
} 
.about-us a {  
    color: #fff; 
    text-align: center; 
    font-size: 18px;  
    font-weight: 600; 
    text-decoration: none;
 } 
.social-media {  
    display: flex;  
    gap: 40px; 
} 
.media-img {  
    width: 40px;  
    height: 40px;
 }
 .policy {  
    display: flex;   
    gap: 50px;  
    padding: 10px;  
    margin-top: 60px;  
    margin-bottom: 20px;
 }
 .policy a {  
    text-decoration: none;   
    color: rgba(255, 255, 255, 0.6);  
    text-align: center;   
    font-size: 16px; 
    font-weight: 500; 
} 
.copyright { 
      padding: 10px; } 
.copyright a {  
    color: rgba(255, 255, 255, 0.6); 
    text-align: center;
    font-size: 16px; 
    font-weight: 500;  
    padding: 5px;  
    text-decoration: none;
 }



 /* moblie Device */

 @media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
 }